body {
    color: #fff !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/backgroundjpg.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh !important;
}

.formborder {
    padding: 30px 30px !important;
    max-width: 700px !important;
    margin: 20px auto !important;
    border-radius: 10px !important;
}